{% extends "jobpost_app/frontend/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block parlax %}
	<!-- This div like a separator -->
	<div style="margin-top:100px; width:100%"></div> 
{% endblock parlax %}

{% block content %}
	<div style="min-height: 350px; padding:30px; margin: 0 0 30px 0; background: #ffffff; overflow: hidden;">
		{% if msg %}
		<div style="color:green; margin:0px 0px 30px 15px;">{{msg}}</div>
		{% endif %}
		<form method="POST" action="{% url 'seeker_app:seeker-login' %}">
			{% csrf_token %}
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 form-group">
						<label>First Name</label>
						<input type="text" name="first_name" placeholder="Enter First Name Here.." class="form-control">
					</div>
					<div class="col-md-6 form-group">
						<label>Last Name</label>
						<input type="text" name="last_name" placeholder="Enter Last Name Here.." class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label>Gender</label>
						<select class="form-control" name="gender">
							<option value="">-- Select Gender --</option>
							<option value="1">Male</option>
							<option value="2">Female</option>
							<option value="3">Others</option>
						</select>
					</div>
					<div class="col-md-6 form-group">
						<label>Mobile</label>
						<input type="text" name="mobile" placeholder="Mobile no." class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label>Email</label>
						<input type="email" name="email" placeholder="abc@mail.com" class="form-control">
					</div>
					<div class="col-md-6 form-group">
						<label>Job Category</label>
						<select class="form-control" name="industry">
							<option value="">-- Select Industry --</option>
							<option value="1">IT/Telecommunication</option>
							<option value="2">Agriculture</option>
							<option value="3">BPO/Data Entry</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 form-group">
						<label>User Name</label>
						<input type="text" name="user_name" placeholder="User Name" class="form-control">
					</div>
					<div class="col-md-4 form-group">
						<label>Password</label>
						<input type="password" name="user_pwd" placeholder="Password" class="form-control">
					</div>	
					<div class="col-md-4 form-group">
						<label>Confirm Password</label>
						<input type="password" name="re-pwd" placeholder="Confirm Password" class="form-control">
					</div>		
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<div class="checkbox">
							<label><input type="checkbox" name="agree" value="">I agree with the <a href="#"> Terms and conditions..</a></label>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-lg btn-info">Submit</button>					
			</div>
		</form>	
	</div>
{% endblock content %}


{% block sidebar %}
	<div class="all-jobs fix">
		<div class="all-jobs-icon pull-left">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		</div>
		<span class="pull-left" style="margin:10px;">Seeker Login</span>
	</div>
	<div style="padding:20px 10px; background: #ffffff;">
		<p style="font-size: 13px; text-align: center; width: 100%; padding: 3px; margin-bottom: :15px; border-bottom: 1px dotted #eee;">Already have an account? Please Login.</p>
		<form action="">
		  <div class="form-group">
		    <label for="exampleInputEmail1">User Name</label>
		    <input type="text" class="form-control" id="" placeholder="User Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-primary">Login</button>
		  <br><br>
		  <a href="#" style="font-size: 12px; text-align: right;">Forgot Password? </a>
		</form>
	</div>
{% endblock sidebar %}