{% extends "jobpost_app/backend/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{{title}}</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th style="width: 10px">SL</th>
							<th>Name</th>
							<th>Description</th>
							<th>Status</th>
							<th>Create By</th>
							<th>Create Date</th>
							<th style="width:120px;text-align:center;">Action</th>
						</tr>
						{% for loc in locs %}
						<tr>
							<td>{{forloop.counter}}.</td>
							<td>{{loc.name}}</td>
							<td>{{loc.description}}</td>
							<td>{{loc.active}}</td>
							<td>{{loc.create_by}}</td>
							<td>{{loc.create_date}}</td>
							<td>
								<div class="btn-group">
								<a href="#" class="btn btn-warning btn-sm" role="button">Edit</a>
								<a href="#" class="btn btn-danger btn-sm" role="button">Delete</a>
								</div>
							</td>

						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
			<div class="box-footer clearfix">
				<ul class="pagination pagination-sm no-margin pull-right">
					<li><a href="#">«</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">»</a></li>
				</ul>
			</div>
		</div>
	  <!-- /.box -->
	</div>
</div>
{% endblock content %}