{% extends 'templates_app/frontend/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block parlax %}
	<!-- This div like a separator -->
	<div style="margin-top:100px; width:100%"></div> 
{% endblock parlax %}

{% block content %}

		<div class="panel panel-default">
			<div class="panel-heading fix">
				<div class="pull-left" style="margin:10px 0px; font-weight:bold;">
					Category : Accounts & Finance
				</div>
			</div>
			<div class="panel-body">
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
						</a>
					</div>
					<div class="media-body">
						<div class="row">
							<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
							<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Education<span class="pull-right">:</span></div>
							<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Experience<span class="pull-right">:</span></div>
							<div class="col-md-10">At least 5 year(s)</div>
						</div>
					</div>
				</div>
				
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
						</a>
					</div>
					<div class="media-body">
						<div class="row">
							<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
							<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Education<span class="pull-right">:</span></div>
							<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Experience<span class="pull-right">:</span></div>
							<div class="col-md-10">At least 5 year(s)</div>
						</div>
					</div>
				</div>
				
				<div class="media">
					<div class="media-left media-top">
						<a href="#">
						  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
						</a>
					</div>
					<div class="media-body">
						<div class="row">
							<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
							<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Education<span class="pull-right">:</span></div>
							<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
						</div>
					
						<div class="row">
							<div class="col-md-2">Experience<span class="pull-right">:</span></div>
							<div class="col-md-10">At least 5 year(s)</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer fix">
				<div class="pull-right fix">
					<nav aria-label="Page navigation">
					  <ul class="pagination">
						<li>
						  <a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						  </a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
						  <a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						  </a>
						</li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
{% endblock content %}


{% block sidebar %}
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumSeaGreen">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumPurple">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumOrchid">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumBlue">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumAquaMarine">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left YellowGreen">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
			</div>
		</a>
	</div>
{% endblock sidebar %}