{% extends './base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block parlax %}
	<!-- This div like a separator -->
	<div style="margin-top:100px; width:100%"></div> 
{% endblock parlax %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading fix">
			<div class="pull-left" style="margin:10px 0px; font-weight:bold;">
				Category : Accounts & Finance
			</div>
		</div>
		<div class="panel-body">
			<div class="single-data-table">
				<div class="row">
					<div class="col-md-2"><img src="https://goo.gl/FvmZo6" alt="" style="width:100%; height:110px;background:#eee;border-radius:50px;border: 1px dotted #ddd;"/></div>
					<div class="col-md-5" id="job-title">
						<div class="job-title">Guest Relation Executive (GRE)</div>
						<div class="company-name">The Peninsula Chittagong Limited</div>
					</div>
					<div class="col-md-5 all-jobs-button">
						<a href="#" class="btn btn-info pull-right">View All Jobs of this Company.</a>
					</div>
				</div>
			</div>
			
			<div class="single-data-table" style="margin-top:20px;">
				<div class="row">
					<div class="col-md-12">
						<div class="job-summary">
							<h4>Job Summary</h4>
							<div class="summary">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-4">Vacancy</div>
											<div class="col-md-8">: N/A</div>
										</div>
										<div class="row">
											<div class="col-md-4">Job Nature</div>
											<div class="col-md-8">: Full Time</div>
										</div>

										<div class="row">
											<div class="col-md-4">Age</div>
											<div class="col-md-8">: Any</div>
										</div>
										<div class="row">
											<div class="col-md-4">Experience</div>
											<div class="col-md-8">: At least 5 year(s)</div>
										</div>
										<div class="row">
											<div class="col-md-4">Gender</div>
											<div class="col-md-4">: Both</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-4">Job Location</div>
											<div class="col-md-8">: Anywhere in Bangladesh</div>
										</div>
										<div class="row">
											<div class="col-md-4">Salary Range</div>
											<div class="col-md-8">: Not mentioned </div>
										</div>

										<div class="row">
											<div class="col-md-4">Published</div>
											<div class="col-md-8">: Jul 10, 2017</div>
										</div>
										
										<div class="row deadline">
											<div class="col-md-4">Deadline</div>
											<div class="col-md-8">: Jul 27, 2017</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="single-data-table" style="margin-top:20px;">
				<h4>Job Context</h4>
				<ul>
					<li>National Credit and Commerce Bank Limited has been operating as one of the leading Private Commercial Banks with its strong business network of 106 online branches across the country, and providing personalized &amp; customer friendly banking services to its cliental in a responsive and technology based environment. The Bank invites applications from the highly competent and eligible candidates for immediate appointment in the above position.</li>
					<li>Working Place: Head Office, Dhaka.</li>
				</ul>
			</div>
			
			<div class="single-data-table">
				<h4>Job Description / Responsibility </h4>
				<ul>
					<li>Establish policy guidelines &amp; procedures for Bank based on industry practices to ensure strict compliance in order to protect Bank's asset by minimizing risk.</li>
					<li>Develop and implement business strategy to meet long &amp; short term business goals within regulatory framework as well as Bank's internal policies and risk guidelines.</li>
					<li>Monitor developments that impact risk and lending policies, including customer documentation/ terms and conditions.</li>
					<li>Liaison with Credit Administration Division for proper execution and maintenance of security documents in accordance with approved terms &amp; conditions.</li>
					<li>Ensure credit compliance with legal, regulatory and government bodies' requirements.</li>
					<li>Manage risk related portfolio work outs and improvement of asset quality.</li>
					<li>Ensure analysis of risk related to credit proposals and approval of credit requests within delegated credit authority.</li>
					<li>Develop operating manuals for all CRM units and ensures they are updated as per requirements.</li>
					<li>Actively coach Credit Staff with the object of developing motivated workforce.</li>
					<li>Any other responsibility as and when assigned by the Management of the Bank.</li>
				</ul>
	        </div>
			
			<div class="single-data-table">
				<h4>Job Nature</h4>
				<p>Full Time</p>
			</div>
			<div class="single-data-table">
	            <h4>Educational Requirements</h4>
	            <p>MBA/ MBM/ Masters in any discipline preferably with commerce background having no 3rd class in academic records.</p>
	        </div>
			<div class="single-data-table">
	            <h4>Experience Requirements</h4>
	            <p>At least 15 year(s)</p>
	        </div>
			<div class="single-data-table">
	            <h4>Gender</h4>
	            <p>Both</p>
	        </div>
			<div class="single-data-table">
	            <h4>Age</h4>
	            <p>At most 50 year(s)</p>
	        </div>
			<div class="single-data-table">
	            <h4>Job Location</h4>
	            <p>Dhaka</p>
	        </div>
			<div class="single-data-table">
	            <h4>Salary Range</h4>
	            <p>Not mentioned</p>
	        </div>
			<div class="single-data-table">
	            <h4>Other Benefits</h4>
	            <p>Attractive compensation package will be offered to the deserving candidates selected for both of the positions based on the experience and competency.</p>
	        </div>
			<div class="single-data-table">
				<h4>Job Source</h4>
	            <p><a href="http://www.jagojobs.com">jagojobs.com</a> Online Job Posting</p>
	        </div>
		</div>
	</div>

	<div class="panel" style="text-align: center;">
		<div style="padding: 20px;">
			Apply Instructions
			Send your CV to hrd@nccbank.com.bd or click here
			Interested candidates may apply with a Resume addressed to the Head of Human Resources Division, NCC Bank Ltd., 13/1 & 13/2 Toyenbee Circular Road, Motijheel C/A, Dhaka-1000 to above address or email Application & Resume to hrd@nccbank.com.bd.
			Application Deadline : Jul 23, 2017
		</div>
	</div>

	<div class="panel" style="text-align: left;">
		<div style="padding: 20px;">
		Company Information
		NCC Bank Bhaban, 13/1 & 13/2 Toyenbee Circular Road, Motijheel C/A, Dhaka-1000
		National Credit and Commerce Bank Limited has been operating as one of the leading Private Commercial Banks with its strong business network of 106 online branches across the country, and providing personalized & customer friendly banking services to its cliental in a responsive and technology based environment.
		http://www.nccbank.com.bd
		</div>
	</div>
{% endblock content %}


{% block sidebar %}
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumSeaGreen">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumPurple">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumOrchid">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumBlue">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left MediumAquaMarine">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
			</div>
		</a>
	</div>
	
	<div class="fix" style="margin-bottom:10px;">
		<a href="#">
			<div class="category-list-icon">
				<div class="cat-jobs-icon pull-left YellowGreen">
					<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				</div>
				<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
			</div>
		</a>
	</div>					
</div>
{% endblock sidebar %}