{% load static %}
<div class="container-fluid" style="padding:20px 0px; background:#272626; color:#dddddd;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div style="text-align:left; padding: 60px 0px;">
					<img src="{% static 'img/logo.png' %}" height="40">
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="footer">
					<h3>About Us</h3></br>
						<ul>
							<li><a href="#">About Jagojobs</a></li>
							<li><a href="#">Privacy  Policy</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>								
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="footer">
					<h3>Joob Seeker</h3></br>
						<ul>
							<li><a href="#">Create Account</a></li>
							<li><a href="#">My Profile</a></li>
						</ul>								
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="footer">
					<h3>Employers</h3></br>
						<ul>
							<li><a href="#">Create Account</a></li>
							<li><a href="#">Post a Job</a></li>
						</ul>								
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="footer">
					<h3>Popular Jobs</h3></br>
						<ul>
							<li><a href="#">Gov. Jobs</a></li>
							<li><a href="#">Bank Jobs</a></li>
							<li><a href="#">NGO Jobs</a></li>
							<li><a href="#">Female Jobs</a></li>
						</ul>								
				</div>
			</div>

		</div>
	</div>
</div>
			
<div class="container-fluid" style="padding:20px;background:#1d1d1d;color:#dddddd;">
	<div class="container">
		<div class="row">
			<div class="col-md-10">All Rights Reserved. © Jagojobs.com 2017</div>
			<div class="col-md-2" style="text-align:right; ">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;
				<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</div>