<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Microsoft Job Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/overwrite.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

		<nav class="navbar navbar-default navbar-fixed-top" >
		  <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#"><img src="img/logo.png" height="20"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="index.html"><b>Home</b></a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Quick Link</b> <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			  <form class="navbar-form navbar-right">
				<div class="form-group">
				  <input type="text" class="form-control" placeholder="Search your dream jobs ...">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
			  </form>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <b>Seeker</b></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <b>Employeer</b></a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		
		<div class="container" style="margin-top:90px;">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading fix">
							<div class="pull-left" style="margin:10px 0px; font-weight:bold;">
								Category : Accounts & Finance
							</div>
						</div>
						<div class="panel-body">
							<div class="media">
								<div class="media-left media-top">
									<a href="#">
									  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
									</a>
								</div>
								<div class="media-body">
									<div class="row">
										<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
										<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Education<span class="pull-right">:</span></div>
										<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Experience<span class="pull-right">:</span></div>
										<div class="col-md-10">At least 5 year(s)</div>
									</div>
								</div>
							</div>
							
							<div class="media">
								<div class="media-left media-top">
									<a href="#">
									  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
									</a>
								</div>
								<div class="media-body">
									<div class="row">
										<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
										<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Education<span class="pull-right">:</span></div>
										<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Experience<span class="pull-right">:</span></div>
										<div class="col-md-10">At least 5 year(s)</div>
									</div>
								</div>
							</div>
							
							<div class="media">
								<div class="media-left media-top">
									<a href="#">
									  <img class="media-object box-job-img" src="https://goo.gl/FvmZo6" alt="..." style="height:100px !important; weight:80px !important;">
									</a>
								</div>
								<div class="media-body">
									<div class="row">
										<div class="col-md-12"><h4 class="media-heading pull-left"><a href="#">Sr. Executive - Accounts</a></h4><span class="badge pull-right">Deadline : 21st Jul, 2017</span></div>
										<div class="col-md-12"><a href="#">Bestinbrands Private Limited</a></div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Education<span class="pull-right">:</span></div>
										<div class="col-md-10">MBA/ M.Com/ CMA or ACCA...</div>
									</div>
								
									<div class="row">
										<div class="col-md-2">Experience<span class="pull-right">:</span></div>
										<div class="col-md-10">At least 5 year(s)</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer fix">
							<div class="pull-right fix">
								<nav aria-label="Page navigation">
								  <ul class="pagination">
									<li>
									  <a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>
									  <a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left MediumSeaGreen">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
							</div>
						</a>
					</div>
					
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left MediumPurple">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
							</div>
						</a>
					</div>
					
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left MediumOrchid">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
							</div>
						</a>
					</div>
					
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left MediumBlue">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">Account & Finance Jobs</span>
							</div>
						</a>
					</div>
					
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left MediumAquaMarine">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">Driving & Motor Technician</span>
							</div>
						</a>
					</div>
					
					<div class="fix" style="margin-bottom:10px;">
						<a href="#">
							<div class="category-list-icon">
								<div class="cat-jobs-icon pull-left YellowGreen">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</div>
								<span class="pull-left" style="margin: 4px 15px;">NGO / Developments</span>
							</div>
						</a>
					</div>					
				</div>
			</div>
		</div>
		
		<!-- Footer Area -->
		<div class="container-fluid" style="padding:20px 0px; background:#272626; color:#dddddd;">
				
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div style="text-align:left; padding: 60px 0px;">
								<img src="img/logo.png" height="40">
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="footer">
								<h3>About Us</h3></br>
									<ul>
										<li><a href="#">About Jagojobs</a></li>
										<li><a href="#">Privacy  Policy</a></li>
										<li><a href="#">Contact Us</a></li>
									</ul>								
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="footer">
								<h3>Joob Seeker</h3></br>
									<ul>
										<li><a href="#">Create Account</a></li>
										<li><a href="#">My Profile</a></li>
									</ul>								
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="footer">
								<h3>Employers</h3></br>
									<ul>
										<li><a href="#">Create Account</a></li>
										<li><a href="#">Post a Job</a></li>
									</ul>								
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="footer">
								<h3>Popular Jobs</h3></br>
									<ul>
										<li><a href="#">Gov. Jobs</a></li>
										<li><a href="#">Bank Jobs</a></li>
										<li><a href="#">NGO Jobs</a></li>
										<li><a href="#">Female Jobs</a></li>
									</ul>								
							</div>
						</div>

					</div>
				</div>
		</div>
						
		<div class="container-fluid" style="padding:20px;background:#1d1d1d;color:#dddddd;">
			<div class="container">
				<div class="row">
					<div class="col-md-10">All Rights Reserved. © Jagojobs.com 2017</div>
					<div class="col-md-2" style="text-align:right; ">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					</div>
				</div>
			</div>
		</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>